---
# RP gateway values
# app_domain: apps.ocp.test.example.com

# RP dependency services values
# RabbitMQ deploy parameters
deploy_rabbitmq: True
rabbitmq_image: docker.io/bitnami/rabbitmq:3.8.3-debian-10-r2
rabbitmq_volume_size: 8Gi
load_definition: "{{ lookup('template', 'load-definition.json') | to_json | string | b64encode }}"

# RabbitMQ service default values
# Update in vars if deploy_rabbitmq is False and use existing rabbitmq service
rabbitmq_name: rabbitmq
rabbitmq_host: rabbitmq
rabbitmq_port: 5672
rabbitmq_user: rabbitmq
rabbitmq_password: rp_rabbitmq
rabbitmq_apiuser: rabbitmq
rabbitmq_apiport: 15672
rabbitmq_secret: rabbitmq

# PostgreSQL deploy parameters
deploy_postgresql: True
db_storage_size: 8Gi
pg_image: docker.io/bitnami/postgresql:11.7.0-debian-10-r9

# PostgreSQL service default values
# Update in vars if deploy_postgresql is False and use existing PostgreSQL service
rp_db: reportportal
rp_db_user: postgres
rp_db_password: lYHfhS2Hfy
rp_db_host: postgresql
rp_db_port: 5432
rp_db_secret: postgresql

# PostgreSQL Restic S3 backup options
enable_pg_restic_backup: yes
pg_restic_s3_bucket_init: yes
pg_restic_password: rp_user
pg_s3_bucket_name: pgbackup-123123

# Minio deploy parameters
deploy_minio: True
minio_image: minio/minio:RELEASE.2019-08-07T01-59-21Z
minio_storage_size: 10Gi
cloud_replicas: 4

# Mino service default values
# Update in vars if deploy_minio is False and use existing Minio service
minio_endpoint: http://minio:9000
accesskey: AKIAIOSFODNN7EXAMPLE
secretkey: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
config_path: "/data/.minio"
config_pathmc: "/data/.mc"
mount_path: "/export"

s3_enabled: false
s3_endpoint: ""

azure_enabled: false

gcs_enabled: false
gcs_key_json: ""
gcs_projectid: ""

oss_enabled: false
oss_endpoint: ""

# Elasticsearch deploy parameters
deploy_elasticsearch: True
es_replicas: 1          # need update to 3 for ha
es_storage_size: 10Gi   # better 2update to 30
es_image: quay.io/waynesun09/elasticsearch:7.6.1-s3-plugin

# Elasticsearch service default values
# Update in vars if deploy_elasticsearch is False and use existing Elasticsearch service
es_host: elasticsearch-master
es_port: 9200

# Elasticsearch s3 snapshot backup schedule
es_s3_backup_dir: s3_backup
es_snapshot_bucket: es-snapshot-123123
es_backup_schedule: "@daily"

# ReportPortal services values
# index default values
index_replicas: 1
index_image: reportportal/service-index:5.0.7

# uat default values
uat_replicas: 1
uat_image: reportportal/service-authorization:5.2.1

# ui default values
ui_replicas: 1
ui_image: reportportal/service-ui:5.2.2

# api default values
api_replicas: 1
api_image: quay.io/waynesun09/service-api:5.2.2-rootless
rp_amqp_queues: 10
rp_amqp_queuesperpod: 10

# migration default values
migration_image: reportportal/migrations:5.2.0

# analyzer default values
analyzer_replicas: 1
analyzer_image: quay.io/waynesun09/service-auto-analyzer:5.2.3-rootless
