apiVersion: v1
kind: Service
metadata:
  annotations:
    infoEndpoint: /info
    service: api
  labels:
    app: reportportal
    component: api
  name: api
  namespace: '{{ meta.namespace }}'
spec:
  ports:
  - name: headless
    port: 8585
    protocol: TCP
    targetPort: 8585
  selector:
    component: api
  type: ClusterIP
