apiVersion: v1
data:
  accesskey: {{ accesskey | string | b64encode }}
  secretkey: {{ secretkey | string | b64encode }}
kind: Secret
metadata:
  labels:
    app: elasticsearch-master
  name: s3-access-key
  namespace: {{ meta.namespace }}
type: Opaque
