apiVersion: v1
data:
  s3.client.default.access_key: {{ accesskey | string | b64encode }}
  s3.client.default.secret_key: {{ secretkey | string | b64encode }}
kind: Secret
metadata:
  labels:
    app: elasticsearch-master
  name: s3-access-key
  namespace: {{ meta.namespace }}
type: Opaque
