apiVersion: v1
kind: Service
metadata:
  labels:
    component: metrics
    app: elasticsearch
  name: elasticsearch-metrics
spec:
  ports:
  - name: http-metrics
    port: 9114
    protocol: TCP
    targetPort: metrics
  selector:
    component: metrics
    app: elasticsearch
  type: ClusterIP
