apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: elasticsearch
  name: elasticsearch-metrics
  namespace: {{ meta.namespace }}
spec:
  endpoints:
    - port: http-metrics
  selector:
    matchLabels:
      app: elasticsearch
      component: metrics
