apiVersion: v1
data:
  elastic_snapshot.sh: |-
    #!/bin/bash
    set -o errexit
    set -o nounset
    set -euxo pipefail

    generate_post_data()
    {
      cat <<EOF
    {
      "type": "s3",
      "settings": {
        "bucket": "$ELASTIC_S3_BUCKET",
        "endpoint": "$1:$2",
        "protocol": "http"
      }
    }
    EOF
    }

    if ! s3cmd mb --host {{ minio_endpoint }} --host-bucket {{ minio_endpoint }} --no-ssl s3://$ELASTIC_S3_BUCKET then:
        echo "Create new s3 bucket failed"
    fi

    minio_host=$(echo {{ minio_endpoint }} |awk -F:// '{print $2}' |awk -F: '{print $1}')
    minio_port=$(echo {{ minio_endpoint }} |awk -F: '{print $3}'
    minio_ip=$(getent hosts $minio_host | awk '{ print $1}')

    if [[ -n $ELASTIC_S3_BACKUP_DIR ]] then;
        curl -X PUT -H 'Content-Type: application/json' http://{{ es_host }}:{{ es_port }}/_snapshot/$ELASTIC_S3_BACKUP_DIR -d "$(generate_post_data $minio_ip $minio_port)"
        curl -X PUT http://{{ es_host }}:{{ es_port }}/_snapshot/$ELASTIC_S3_BACKUP_DIR/%3Csnapshot-%7Bnow%2Fd%7D%3E?wait_for_completion=true
    else
        echo "Skip as the snapshot dir is not specified"
    fi
kind: ConfigMap
metadata:
  name: es-snapshot
  labels:
    app: elasticsearch-master
  namespace: {{ meta.namespace }}
