apiVersion: batch/v1beta1
kind: CronJob
metadata:
  labels:
    app: elasticsearch-master
  name: es-s3-snapshot
  namespace: {{ meta.namespace }}
spec:
  schedule: "{{ es_backup_schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  key: s3.client.default.access_key
                  name: s3-access-key
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: s3.client.default.secret_key
                  name: s3-access-key
            - name: ELASTIC_S3_BUCKET
              value: {{ es_snapshot_bucket }}
            - name: ELASTIC_S3_SNAP_DIR
              value: {{ es_s3_backup_dir }}
            name: snapshot
            image: quay.io/waynesun09/ubi8-minimal:s3cmd
            args:
              - /bin/sh
              - /opt/elastic_snapshot.sh
            volumeMounts:
            - mountPath: /opt
              name: snapshot-s3cmd-script
          volumes:
          - name: snapshot-s3cmd-script
            configMap:
              name: es-snapshot
              defaultMode: 0777
          restartPolicy: OnFailure
