apiVersion: v1
kind: Service
metadata:
  annotations:
    infoEndpoint: /info
    service: index
  labels:
    app: reportportal
  name: index
  namespace: '{{ meta.namespace }}'
spec:
  ports:
  - name: headless
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    component: index
  type: ClusterIP
