apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: reportportal
  name: index
  namespace: {{ meta.namespace }}
spec:
  replicas: {{ index_replicas }}
  selector:
    matchLabels:
      component: index
  template:
    metadata:
      labels:
        component: index
    spec:
      serviceAccountName: reportportal
      containers:
      - env:
        - name: K8S_MODE
          value: "true"
        image: {{ index_image }}
        name: index
        ports:
        - containerPort: 8080
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 150m
            memory: 128Mi
