apiVersion: v1
data:
  accesskey: {{ accesskey | string | b64encode }}
  secretkey: {{ secretkey | string | b64encode }}
{% if gcs_key_json %}
  gcs_key.json: {{ gcs_key_json | b64encode }}
{% endif %}
kind: Secret
metadata:
  labels:
    app: minio
  name: minio
  namespace: {{ meta.namespace }}
type: Opaque
