apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: postgresql
  name: postgres-metrics
  namespace: {{ meta.namespace }}
spec:
  endpoints:
    - port: metrics
  selector:
    matchLabels:
      app: postgresql
      service: metrics
