apiVersion: v1
data:
  postgresql-password: {{ rp_db_password | string | b64encode }}
kind: Secret
metadata:
  labels:
    app: postgresql
  name: {{ rp_db_secret }}
  namespace: {{ meta.namespace }}
type: Opaque
