apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: postgresql
  name: postgresql
  namespace: {{ meta.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
      role: master
  serviceName: postgresql-headless
  template:
    metadata:
      labels:
        app: postgresql
        role: master
      name: postgresql
    spec:
      containers:
      - env:
        - name: BITNAMI_DEBUG
          value: "false"
        - name: POSTGRESQL_PORT_NUMBER
          value: "{{ rp_db_port }}"
        - name: POSTGRESQL_VOLUME_DIR
          value: /bitnami/postgresql
        - name: PGDATA
          value: /bitnami/postgresql/data
        - name: POSTGRES_USER
          value: {{ rp_db_user }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: postgresql-password
              name: postgresql
        - name: POSTGRES_DB
          value: {{ rp_db }}
        - name: POSTGRESQL_ENABLE_LDAP
          value: "no"
        - name: ENABLE_RESTIC_BACKUP
          value: "{{ enable_pg_restic_backup }}"
        - name: RESTIC_S3_BUCKET_INIT
          value: "{{ pg_restic_s3_bucket_init }}"
        - name: RESTIC_PASSWORD
          value: "{{ pg_restic_password }}"
        - name: ENABLE_RESTIC_RECOVERY
          value: "{{ pg_recovery }}"
        - name: RESTIC_RECOVERY_TARGET_TIME
          value: "{{ pg_recovery_target_time }}"
        - name: S3_ENDPOINT
          value: {{ minio_endpoint }}
        - name: S3_BUCKET_NAME
          value: {{ pg_s3_bucket_name }}
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: accesskey
              name: minio
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: secretkey
              name: minio
        - name: XDG_CACHE_HOME
          value: "/bitnami/postgresql/.cache/restic"
        image: {{ pg_image }}
        imagePullPolicy: IfNotPresent
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - exec pg_isready -U "{{ rp_db_user }}" -d "{{ rp_db }}" -h 127.0.0.1 -p {{ rp_db_port }}
          failureThreshold: 120
          initialDelaySeconds: 60
          periodSeconds: 20
          successThreshold: 1
          timeoutSeconds: 30
        name: postgresql
        ports:
        - containerPort: {{ rp_db_port }}
          name: tcp-postgresql
          protocol: TCP
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - -e
            - |
              exec pg_isready -U "{{ rp_db_user }}" -d "{{ rp_db }}" -h 127.0.0.1 -p {{ rp_db_port }}
              [ -f /opt/bitnami/postgresql/tmp/.initialized ] || [ -f /bitnami/postgresql/.initialized ]
          failureThreshold: 6
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
        securityContext: {}
        volumeMounts:
        - mountPath: /dev/shm
          name: dshm
        - mountPath: /bitnami/postgresql
          name: data
        - mountPath: /docker-entrypoint-preinitdb.d
          name: custom-preinit-script
        - mountPath: /docker-entrypoint-initdb.d
          name: custom-init-restic-script
      - env:
        - name: DATA_SOURCE_URI
          value: 127.0.0.1:5432/reportportal?sslmode=disable
        - name: DATA_SOURCE_PASS
          valueFrom:
            secretKeyRef:
              key: postgresql-password
              name: postgresql
        - name: DATA_SOURCE_USER
          value: {{ rp_db_user }}
        image: docker.io/bitnami/postgres-exporter:0.8.0-debian-10-r28
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 6
          httpGet:
            path: /
            port: metrics
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        name: metrics
        ports:
        - containerPort: 9187
          name: metrics
          protocol: TCP
        readinessProbe:
          failureThreshold: 6
          httpGet:
            path: /
            port: metrics
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        resources: {}
      initContainers:
      - command:
        - sh
        - -c
        - if [ -d "/bitnami/postgresql/data" ]; then chmod 700 /bitnami/postgresql/data;
          fi
        image: busybox
        imagePullPolicy: Always
        name: update-bitnami-data-dir-mode
        resources: {}
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - emptyDir:
          medium: Memory
          sizeLimit: 1Gi
        name: dshm
      - configMap:
          name: pg-restic
        name: custom-init-restic-script
      - configMap:
          name: pg-preinit
        name: custom-preinit-script
  updateStrategy:
    type: RollingUpdate
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ db_storage_size }}
      volumeMode: Filesystem
