apiVersion: v1
data:
  rabbitmq-erlang-cookie: {{ 9999999999999999999999 | random | to_uuid | string | b64encode}}
  rabbitmq-password: {{ rabbitmq_password | string | b64encode }}
kind: Secret
metadata:
  labels:
    app: rabbitmq
  name: {{ rabbitmq_secret }}
  namespace: {{ meta.namespace }}
type: Opaque
