apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
    name: reportportal-user-binding
    namespace: '{{ meta.namespace }}'
roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: reportportal-service-reader
subjects:
    - kind: ServiceAccount
      name: reportportal
      namespace: '{{ meta.namespace }}'
