apiVersion: v1
kind: Service
metadata:
  annotations:
    infoEndpoint: /info
    service: ui
  labels:
    app: reportportal
    component: ui
  name: ui
  namespace: '{{ meta.namespace }}'
spec:
  ports:
  - name: headless
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    component: ui
  type: ClusterIP
